body {
    font-family: 'Noto Sans';
    font-size: 13px;
    line-height: 22px;
    margin: 0px;
    background-color: white;
}

.body-result {
    padding: 7px;
    color: #333333;
}

.rcp-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}

.annexe-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 15px 15px 0px;
    text-align: center;
}

table {
    font-family: 'Noto Sans';
    font-size: 13px;
    width: 100%;
    border: 0px;
    border-collapse: separate;
    border-spacing: 0;
    color: #333333;
    background-color: white;
}

table tbody td.label {
    text-align: right;
    font-weight: bold;
    width: 200px;
}

table tbody td.title {
    font-size: 16px;
    line-height: 24px;
    padding-right: 15px;
    background-color: #eeeeee;
}

table tbody td.content {
    line-height: 18px;
    padding-right: 15px;
    background-color: #eeeeee;
}

.rcp-div {
    text-align: justify;
}

.rcp-div .title {
    font-weight: bold;
}

.rcp-div .content {
    padding: 10px 0px;
}

.image-title {
    padding-top: 5px;
}

.results-number {
    font-size: 12px;
    text-align: right;
    color: #828282;
    padding-bottom: 8px;
}

.title-date {
    font-weight: bold;
    padding: 10px 0px;
    font-size: 14px;
}

.result {
    padding-bottom: 8px;
}

.result a {
    color: #3163ee;
    text-decoration: none;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #3163ee;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eeeeee;
}

::-webkit-scrollbar-corner {
    background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
}

::-webkit-scrollbar-thumb:vertical {
    min-height: 50px;
}