@font-face {
    font-style: normal;
    font-weight: normal;
    src: url('../../ttf/NotoSans-Regular.ttf');
}

@font-face {
    font-style: normal;
    font-weight: bold;
    src: url('../../ttf/NotoSans-Bold.ttf');
}

@font-face {
    font-style: normal;
    font-weight: normal;
    src: url('../../ttf/Lato-Regular.ttf');
}

@font-face {
    font-style: normal;
    font-weight: bold;
    src: url('../../ttf/Lato-Bold.ttf');
}

.root {
    -fx-font-family: 'Noto Sans';
    -fx-font-weight: normal;
    -fx-font-size: 13px;

    -fx-text-base-color: #eeeeee;
    -fx-text-background-color: #d4d4d4;
    -fx-text-base-color-main: #d4d4d4;

    -fx-custom-color: #333333;
    -fx-custom-color-hover: #777777;

    -fx-background: -fx-custom-color;
    -fx-background-color: -fx-background;
    -fx-background-main-color: #444444;

    -fx-focus-color: -fx-text-base-color-main;
    -fx-faint-focus-color: -fx-text-base-color-main;

    -fx-button-color: #555555;
    -fx-button-body-color: -fx-button-color;
    -fx-button-hover: derive(-fx-button-color, 20%);
    -fx-button-pressed: derive(-fx-button-color, 10%);
    -fx-button-selected: derive(-fx-button-color, 20%);

    -fx-button-text-color: -fx-text-base-color-main;

    -fx-button-search-color: #1e3bd7;
    -fx-button-search-body-color: -fx-button-search-color;
    -fx-button-search-hover: derive(-fx-button-search-color, 20%);
    -fx-button-search-pressed: derive(-fx-button-search-color, -2%);

    -fx-border-color-custom: #aaaaaa;
    -fx-border-color-custom-main: #949494;

    -fx-menu-custom-color: #2c80c4;
    -fx-thumb-color: #b3b3b3;

    -fx-text-highlight-fill-color: #1e90ff;
    -fx-statusbar-fill-color: #f68282;

    -fx-autocomplete-tooltip-background-color: #f2f2bd;
}

.button, .toggle-button, .combo-box-base {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-body-color;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 3, 3, 2;
    -fx-text-fill: -fx-button-text-color;
}

.button:hover, .toggle-button:hover, .combo-box-base:hover {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-hover;
}

.button:armed, .toggle-button:armed, .combo-box-base:showing {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-pressed;
}

.toggle-button:selected {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-selected;
    -fx-background-radius: 3, 3, 2;
}

.toggle-button:selected:hover {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-selected;
}

.toggle-button:selected:focused {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-selected;
}

.button-search {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-search-body-color;
    -fx-text-fill: -fx-button-text-color;
}

.button-search:hover {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-search-hover;
}

.button-search:armed {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-button-search-pressed;
}

.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: -fx-text-base-color-main;
}

.combo-box-popup > .list-view {
    -fx-background-color: -fx-border-color-custom-main, -fx-border-color-custom-main, -fx-background-main-color;
    -fx-background-insets: 0, 0, 1;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background: -fx-background-main-color;
    -fx-text-fill: -fx-text-base-color-main;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: -fx-custom-color-hover;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: -fx-custom-color-hover;
}

.combo-box-popup > .list-view > .virtual-flow > .corner {
    -fx-background-color: -fx-custom-color-hover;
}

ComboBoxClass {
    -fx-pref-width: 200px;
    -fx-min-width: 200px;
    -fx-max-width: 5000px;
    -fx-min-height: 26px;
    -fx-pref-height: 26px;
    -fx-max-height: 26px;
}

ComboBoxClass .list-view .scroll-bar:vertical,
ComboBoxClass .list-view .scroll-bar:horizontal {
    -fx-background-color: -fx-custom-color-hover;
    -fx-background-insets: 0;
}

ComboBoxClass .list-view .scroll-bar:vertical > .increment-button,
ComboBoxClass .list-view .scroll-bar:vertical > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0px 15px 0px 0px;
}

ComboBoxClass .list-view .scroll-bar:horizontal > .increment-button,
ComboBoxClass .list-view .scroll-bar:horizontal > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0px 0px 12px 0px;
}

ComboBoxClass .list-view .scroll-bar .increment-arrow,
ComboBoxClass .list-view .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0px;
}

ComboBoxClass .list-view .scroll-bar:vertical .thumb,
ComboBoxClass .list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: -fx-thumb-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.context-menu {
    -fx-padding: 0px;
}

.menu-bar {
    -fx-padding: 0px 1px;
    -fx-background-color: -fx-background;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -fx-border-color-custom;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background: -fx-menu-custom-color;
    -fx-background-color: -fx-background;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing  > .label {
    -fx-text-fill: -fx-text-base-color;
}

.menu-bar > .container > .menu-button:focused .mnemonic-underline,
.menu-bar > .container > .menu-button:showing .mnemonic-underline,
.menu-bar > .container > .menu-button:hover .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.menu {
    -fx-padding: 4px;
}

.menu > .right-container {
    -fx-padding: 0px 10px 0px 0px;
}

.menu > .right-container > .arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em;
    -fx-background-color: -fx-text-base-color;
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}

.menu-item {
    -fx-background: -fx-custom-color;
    -fx-background-color: -fx-background;
    -fx-padding: 3px;
}

.menu-item >.label,
.menu-item:focused > .label {
    -fx-text-fill: -fx-text-base-color;
}

.menu-item:hover {
     -fx-background: -fx-menu-custom-color;
     -fx-background-color: -fx-background;
}

.menu.menu-item:focused {
     -fx-background: -fx-menu-custom-color;
     -fx-background-color: -fx-background;
}

.menu-item:focused .menu-item:focused {
     -fx-background: -fx-custom-color;
     -fx-background-color: -fx-background;
}

.menu-item:focused .menu-item:hover {
     -fx-background: -fx-menu-custom-color;
     -fx-background-color: -fx-background;
}

.radio-menu-item:checked > .left-container > .radio,
.radio-menu-item:focused:checked > .left-container > .radio {
    -fx-background-color: -fx-text-base-color;
}

.tool-bar {
    -fx-padding: 4px;
    -fx-background-color: -fx-background;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -fx-border-color-custom;
}

.tool-bar .button {
    -fx-padding: 3px;
}

.tab-pane {
    -fx-padding: 0px 0px 4px 0px;
    -fx-background-color: -fx-background-main-color;
    -fx-tab-min-width: 300px;
    -fx-tab-max-width: 600px;
    -fx-tab-min-height: 25px;
    -fx-tab-max-height: 25px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:bottom {
    -fx-background-color: -fx-outer-border, -fx-button-color, -fx-button-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover,
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-outer-border, -fx-button-color, -fx-background-main-color;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -fx-background-main-color;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -fx-border-color-custom;
}

.tab-pane:top > .tab-header-area > .tab-header-background,
.tab-pane:bottom > .tab-header-area > .tab-header-background,
.tab-pane:left > .tab-header-area > .tab-header-background,
.tab-pane:right > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator {
    -fx-border-insets: 0;
}

.separator:horizontal .line {
    -fx-border-color: -fx-border-color-custom;
    -fx-border-style: solid;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-insets: 0;
}

.field-pane-and-table-result {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.form-pane-and-search-result {
    -fx-padding: 10px;
}

.text-field {
    -fx-min-height: 28px;
}

.text-input {
    -fx-text-fill: -fx-text-base-color-main;
    -fx-highlight-fill: -fx-text-highlight-fill-color;
    -fx-highlight-text-fill: white;
    -fx-prompt-text-fill: derive(white, -45%);
    -fx-background-color: -fx-button-body-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -fx-border-color-custom-main;
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-border-width: 1px;
}

.text-input:focused {
    -fx-prompt-text-fill: transparent;
    -fx-border-color: -fx-focus-color;
}

TableResult .button, TableResult .toggle-button {
    -fx-min-width: 130px;
    -fx-pref-width: 130px;
    -fx-max-width: 130px;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
}

TableResult .button .image-view, TableResult .toggle-button .image-view {
    -fx-translate-x: -8;
    -fx-translate-y: -1;
}

FormPane .button {
    -fx-min-width: 145px;
    -fx-pref-width: 145px;
    -fx-max-width: 145px;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
}

FormPane .label {
    -fx-text-fill: -fx-text-base-color-main;
}

FormPane .textflow {
    -fx-font-size: 11px;
    -fx-fill: derive(-fx-text-base-color-main, -25%);
}

.webview-box {
    -fx-background-color: -fx-background-main-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -fx-border-color-custom-main;
}

.webview-box .web-view {
    -fx-pref-height: 5000px;
    -fx-pref-width: 5000px;
    -fx-context-menu-enabled: false;
}

StatusBar {
    -fx-pref-height: 25px;
    -fx-alignment: center-right;
    -fx-background-color: -fx-background;
    -fx-padding: 0px 10px;
    -fx-border-style: solid;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: -fx-border-color-custom;
}

StatusBar .label {
    -fx-font-size: 10px;
    -fx-text-fill: -fx-statusbar-fill-color;
}

/**********************************************************************************************************************/

.AutocompletePopup {
    -fx-background-color: -fx-background-main-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -fx-border-color-custom-main;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0px;
}

.AutocompletePopup .list-cell {
    -fx-background: -fx-background-main-color;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-base-color-main;
}

.AutocompletePopup:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: -fx-custom-color-hover;
    -fx-table-cell-border-color: -fx-custom-color-hover;
}

.AutocompletePopup .list-cell:filled:selected {
    -fx-background: -fx-custom-color-hover;
    -fx-table-cell-border-color: -fx-custom-color-hover;
}

.AutocompletePopup:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: -fx-custom-color-hover;
    -fx-background-insets: 0;
}

.AutocompletePopup .scroll-bar:horizontal,
.AutocompletePopup .scroll-bar:vertical {
    -fx-background-color: -fx-custom-color-hover;
    -fx-background-insets: 0;
}

.AutocompletePopup .scroll-bar:horizontal > .increment-button,
.AutocompletePopup .scroll-bar:horizontal > .decrement-button,
.AutocompletePopup .scroll-bar:vertical > .increment-button,
.AutocompletePopup .scroll-bar:vertical > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0px;
}

.AutocompletePopup .scroll-bar .increment-arrow,
.AutocompletePopup .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0px;
}

.AutocompletePopup .tooltip {
    -fx-text-fill: black;
    -fx-background: -fx-autocomplete-tooltip-background-color;
    -fx-background-color: -fx-autocomplete-tooltip-background-color;
    -fx-background-radius: 4px;
    -fx-padding: 3px;
    -fx-effect: null;
    -fx-font-size: 11px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
